
.app-bayContainer-bay{
    height: 100%;
    margin: 0.5em;
    max-width: 30%;
}

.app-bayContainer-bay-postits{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
    

.app-bayContainer-bay-addpostit{
    margin: 0.5em!important;
}
 
.app-bayContainer-bay-deletepostit{
    margin: 0.5em!important;
}

.app-bayContainer-bay-editpostit{
    margin: 0.5em!important;
}

div.app-bayContainer-bay-bayTitle{
    position: relative;
    text-align: left;
    font-size: 2vw;
    margin: 0.25em;
}

.app-bayContainer-bay-hiddentrue{
    display: none !important;
}
 