
.app-bayContainer-bay{
    height: 100%;
    margin: 0.5em;
    max-width: 35%;
    
    background-color: #563672 !important;
}

.app-bayContainer-bay-postits{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.app-bayContainer-bay-divider{
    background-color: white !important;
}
.app-bayContainer-bay-fieldbayname{
    color: white !important;
}

.fieldLabel{
    color: thistle !important;
}
.fieldlabel-focused{
    color: white !important;
}
/* Command Buttons */
.app-bayContainer-bay-addpostit{    
    margin: 0.5em!important;
}
 
.app-bayContainer-bay-deletepostit{
    margin: 0.5em!important;
}

.app-bayContainer-bay-editpostit{
    margin: 0.5em!important;
    
}
/* Command Buttons */

.app-bayContainer-bay-title{
    text-align: left;
    font-size: 20pt !important;
    margin: 0.25em !important;
    color: white !important;
}

.app-bayContainer-bay-hiddentrue{
    display: none !important;
}
 