
.app-bayContainer-bayList{
    display:flex;
    flex-direction: row;
    justify-content: center;

  }
  
.hiddenfalse{
    display: block !important;
  }

.hiddentrue{
    display:none !important;
  }

  button.app-bayContainer-button-newBay{
    background-color:  rgb(0, 188, 212) !important ; 
    margin:3em;
  }
  
  .app-bayContainer-textField{
    max-width:80%;
    margin:3em !important;
  }