
.app-bayContainer-bayList{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height:40em !important;

  }
  
.hiddenfalse{
    display: block !important;
  }

.hiddentrue{
    display:none !important;
  }

  
  .app-bayContainer-textField{
    max-width:80%;
    margin:3em !important;
  }


  .app-bayContainer-bayControls{
    display:flex;  
    max-height: 5em;
    flex-flow: row;
  }

  .app-bayContainer-bayControls-colorpicker{
    margin:2em;
    flex:10; 
    justify-content:flex-start;
  }

  div.app-bayContainer-bayControls-newBay{
    flex:1; 
    justify-content:flex-end;
  }

  button.app-bayContainer-bayControls-newBay,.app-bayContainer-bayControls-colorpicker-open{
    background-color :#c6427b !important ; 
    margin:2em;
    color: white !important;
    font-weight: bold !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; 
  }