
.app-bayContainer-bay{
    height: 60em;
    width: 40em;
    margin: 1em;
}

.app-bayContainer-bay-postits{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
    


div.app-bayContainer-bay-bayTitle{
    position: relative;
    text-align: center;
    font-size: 2vw;
}

.app-bayContainer-bay-hiddentrue{
    display: none !important;
}
 