
.app-laneContainer-lane{
    height: 100%;
    margin: 0.5em;
    max-width: 35%;
    
    background-color: #563672 !important;
}

.app-laneContainer-lane-postits{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.app-laneContainer-lane-divider{
    background-color: white !important;
}
.app-laneContainer-lane-fieldlanename{
    color: white !important;
}

.fieldLabel{
    color: thistle !important;
}
.fieldlabel-focused{
    color: white !important;
}
/* Command Buttons */
.app-laneContainer-lane-addpostit{    
    margin: 0.5em!important;
}
 
.app-laneContainer-lane-deletepostit{
    margin: 0.5em!important;
}

.app-laneContainer-lane-editpostit{
    margin: 0.5em!important;
    
}
/* Command Buttons */

.app-laneContainer-lane-title{
    text-align: left;
    font-size: 20pt !important;
    margin: 0.25em !important;
    color: white !important;
}

.app-laneContainer-lane-hiddentrue{
    display: none !important;
}
 