.signup-root{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.row{  
    width: auto;
}

.signup-kanbanlogo{ 
    margin-top: 3em;
    flex:1 1 auto;
}
.signup-controls{
    flex:1 1 auto;
    margin: 2em;
    margin-top: 2em;
    height: 42em;
    width: 20em !important;
    display: flex;
    justify-content: center;
}

.signup-controls-fields{
    flex:1 3 auto;
    margin: 2em;
   
}


.signup-controls-actions{
    flex:1 1 auto;
}

.divider{
    margin-top: 2em!important;
    margin-bottom: 2em !important;
}

.signup-controls-avatarbutton{
  
    margin-left: 8em;
}
.signup-controls-avatarbutton>span{
    background: linear-gradient(195deg, rgba(198,66,123,1) 0%, rgba(117,23,199,1) 100%)!important;
    color:white!important;
    width: 3em!important;
    min-width: 3em!important;
}

.signup-controls-avatar{
    display:inline-block;
    vertical-align: middle;
    width:5em;
    left:0.2em;
}
.signup-controls-avatar div{
    width:8em!important;
    height:8em!important;
}
.hidden{
    display: none;
}

.signup-controls-actions-signup{
    margin-left: 2em!important;
    background: linear-gradient(195deg, rgba(198,66,123,1) 0%, rgba(117,23,199,1) 100%)!important;
    color:white!important;
    font-weight: bold!important;
}

.signup-snackbar-okbutton{
    background: linear-gradient(195deg, rgba(198,66,123,1) 0%, rgba(117,23,199,1) 100%)!important;
    color:white!important;
    font-weight: bold!important;
}


span.displayError-true{
    display: inline;
    color:red;
    font-size: 8pt;
}

span.displayError-false{
    display: none;
}