.color-picker-root{
    height:3em;
    display:flex; 
    flex-direction: row;
    justify-content:center;
    margin: 1em!important;
    border-radius:8px!important;
   }
    
   
.color-picker{
     flex:1 ;
     margin:0.2em;
     width:2em;
     height:2em;
     background-color: cadetblue;
     transition: all ease-in-out 0.2s;
     box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
     border-radius:inherit!important;
   }

   .color-picker label{
    cursor: pointer;
    width:2em;
    height:2em;
    border-radius:inherit!important;
   }
   .color-picker:hover{
      border:1em!important;
      transform: scale(1.7);
      transition: all ease-in-out 0.2s;
   }

   .color-picker .fill{
    width: 100%;
    height: 100%;
    border-radius:inherit!important;
  }
  .color-picker input[type="radio"]{
    display: none;
  }

  .color-picker input[type="radio"]:checked + label .fill { 
    box-shadow: inset 0 0 5px #000000;
  }

