.login-root{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
.rowlogo{
    width: auto;
    height: 10em;
}

.kanbanlogo{
    margin-top: 10em!important;
    margin:1vw; 
    flex:1 1 auto;
    
}
.kanbanlogo-img{
   
}

.rowcontrols{
    margin-left:1vw; 
    flex:1 2 auto;
    width: 20em;
}

.login-controls{
    height: 22em;
    background: 	#563672!important;
    display:flex !important;
    justify-content: center !important;
    flex-direction: column;
}

.login-controls-welcome{
    position: relative;
    color:	white;
    background: linear-gradient(195deg, rgba(198,66,123,1) 0%, rgba(117,23,199,1) 100%)!important;
    top:-1em;
    left:1.1em;
    width: 15em !important;
    height: 3em !important;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    
}

.login-controls-fields{
    padding-left: 1em;
    flex: 2 1 auto!important;
    margin-left: 3em
}
 
div.login-controls-username  label {
    color: white !important;
}
div.login-controls-password  label{
    color: white !important;
}

div.login-controls-username  input {
    color: white !important;
}
div.login-controls-password  input{
    color: white !important;
}


.login-controls-fields div::before{
    border-bottom:2px solid  #fe4880 !important;
}

.login-controls-fields div::after{
    border-bottom:2px solid  white !important;
}

.login-controls-actions{
    flex: 1 1 auto !important;
    margin-top: 2em;
}

.login-controls-username{
    margin-top: 2em !important;
}
.login-controls-password{
    margin-top: 2em !important;
}

.login-controls-actions button{
    color: white;
    background: #c6427b;
}

.login-controls-actions-signin{
    margin-left: 3em !important;
}
.login-controls-actions-signup{
    margin-left: 4em !important;
}

.snackMessage{
    position: absolute;
    bottom:5vh;
    
}

.login-controls-snackbarok{
    background: linear-gradient(195deg, rgba(198,66,123,1) 0%, rgba(117,23,199,1) 100%)!important;
    color:white!important;
    font-weight: bold;
}