

.menu-root{
    display: flex;
    flex-grow: 1;
    background-color:#c6427b !important;
}

.menu-root-close{
    justify-content: flex-start;
}
.menu-root-title{
    flex: 1;
}

.main-menu-save{
    background-color: #1e306e !important;
    color: white !important;
    font-weight: bold !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; 
}

.project-content{
    background-color: #1e306e !important;
    min-height: 50em !important;
    width: 100%;
}