/*postit body*/


div.app-bayContainer-bay-postitcard     {
    margin:0.5em;; 
}
div.app-bayContainer-bay-postitcontent     {
    flex:1 1 auto ;
    max-width:16pc!important;
    padding-bottom: 0.4em !important;
    display: flex;
}
.app-bayContainer-bay-postittitle {
    justify-content: center;
    padding-top: 0.3em;
    margin-right:1em !important; 
}

.app-bayContainer-bay-postitexpand{
    max-width: 1em;
    max-height: 1em;
    padding-left: 1em;
}


/*postit buttons*/
.app-bayContainer-bay-postitedit,.app-bayContainer-bay-postitdelete{
    
    min-width: 1em!important;
    min-height: 1em!important;
    max-width:1.5em!important;
    max-height:1.5em!important;
    border-radius: 4px !important;
}
.app-bayContainer-bay-postitedit,.app-bayContainer-bay-postitdelete svg{
    width: 100%!important;
}


/*postit buttons*/
.app-bayContainer-bay-textfield::-webkit-scrollbar{
    display: none;
}

.showoptions-true{
    display: inherit !important;
}
.showoptions-false{
    display: none !important ;
}

/* postit edit fields */

.app-bayContainer-bay-txt-postit-title{
    margin: 2em !important;
}

.app-bayContainer-bay-txt-postit-content{
    margin: 2em !important;
}